.about-container{
    padding-top: 40px;
    padding-bottom: 40px;
}


.about-container p{
    font-size: 24px;
    line-height: 39px;
    font-weight: 400;
    text-align: center; 
    padding-bottom:24px;

}
.bold{
    padding-top:24px;
    font-size: 24px;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
}


.arrow a{
    padding-top: 24px;

}
.arrow{
    display: flex;
    justify-content: center;
}

/*MQ for tablet*/
@media screen and (min-width:768px) {
    .about-container{
        padding: 100px 133px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .about-container h1{
        width:900px;
        height:111px;
    }
    
    .about-container p{
        font-size: 24px;
        line-height: 39px;
        font-weight: 400;
        text-align: center; 
        padding-bottom:24px;
    
    }

}

/*for desktop*/
@media screen and (min-width:1024px) {
    .about-container p{
       inline-size: 900px;/*height*/
       block-size: 39px; /*width*/
       flex:1;

    }
    
}
