.header{
    /*para que el menú nos pueda "perseguir"*/
    position: sticky;
    top:0;
    /*añadiendo al header un blur*/
    backdrop-filter: blur(10px);
    background: rgba(0,10,64,.7);
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 80px;

}