.hero{
    padding-top:16px;
}

.hero-image{
    text-align: center;
    /*background vector*/

 /*   width: 328px;
    height:330px;
    border-radius:15px;
    background-color:var( --purple);*/
}
/*.hero-image img{
    border-radius: 130px;
}*/
.hero-description{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
/*.hero-container{
    height: 100vh;
    display: grid;
    place-items:center;

}*/

.typing-effect{
/*el width es la cantidad de caracteres de la palabra/frase a animar. Contando espacios*/
    width: 10ch;
    font-family: var(--headline5);
    animation: typing 1s,step-end;
    white-space: nowrap;
    overflow: hidden; 
   /* border-right: 3px solid;*/
}

@keyframes typing{
    from{
        width:0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

.hero h1{
    margin:0;
    font: var(--headline3);    
}

.hero h1 span:first-child /*nth-of-type(1)*/{
    font: var(--headline5);
    display: block; 
}

.social{
    padding-bottom: 24px;
}

@media screen and (min-width:768px) {
    .hero{
        display: flex;
        gap:32px;
    }
    .hero-description{
        /*Cambia el orden en el que se muestran los contenidos*/
        order:1;
        /*añade un máx. de línea en el párrafo*/
        max-inline-size: 450px;
    }
    
    .hero-image {
        order:2;
        text-align: end;
        /*para que la img tome TODO el espacio disponible*/
        flex:1;
    }
    

}/*End media query 768*/

@media screen and (min-width:1024px) {
    .hero-image img {
        /*Esta foto hay que cambiarla, pero las medidas que aquí van son las oficiales*/
      /* inline-size: 500px;/*height
       block-size: 504px; width*/
       flex:1;
       max-inline-size: 100%;
       block-size: auto;
    }
}/*End MQ 1024*/

