.projects{
    
}

.img-project{
    display: flex;
    flex-direction: column;
}
.project-descript{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.project-title{
    background:var(--frenchViolet);
    color:var(--white);
    font:var(--headline5);
    padding-block-start: 4px;
    padding-block-end: 4px;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    /*box-shadow: Xpx Ypx blur color*/
    box-shadow: -4px 4px 0 var(--white);
    /*para que se alinee únicamente este elemento*/
    align-self: flex-start;
    text-decoration: none;
    /*para que la sombra no se salga del wrapper, se le sumó lo que la sombra le resta*/
    margin-inline-start: 4px;
}

@media screen and (min-width:768px) {
    .projects{
        display: flex;
        align-items: center;
    }/*
    .img-project img{
        width:652px;
        height:392px; 
    }*/
    .project-descript{
        /*para que la img ocupe solo el 50% del flexbox*/
        flex:1;
    }
/*Select all odd elements*/
    .projects:nth-of-type(odd) .img-project{
        order:2;
        flex:1;
        align-items: center;
}

}