.projects{
    padding-block-start:40px;
    padding-block-end:40px;
    
}

.img-project{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-project img{
    /*to resize images when are in mobile (take the whole space)*/
    max-inline-size: 100%;
}
.project-descript{
    display: flex;
    flex-direction: column;
    gap:16px;
}


@media screen and (min-width:768px) {
    .projects{
        display: flex;
        align-items: center;
        gap:32px;
        padding-block-start:80px;
        padding-block-end:80px;
    }/*
    .img-project img{
        width:652px;
        height:392px; 
    }*/
    .project-descript{
        /*para que la img ocupe solo el 50% del flexbox*/
        flex:1;
    }
/*Select all odd elements*/
    .projects:nth-of-type(odd) .img-project{
        order:2;
        flex:1;
        align-items: center;
}

}